* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/background\ 1.png);
  background-size: 100% 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

.wrapper {
  max-width: 1028px;
  margin: auto;
}

.milan-header {
  display: flex;
  margin-top: 51px;
  width: 1028px;
  height: 61px;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.rollhover {
  background: url(../images/logo\ 3.png);
  width: 53px;
  height: 47px;
  transition: 0.3s;
}

.logo-text {
  margin-left: 8px;
  transition: 0.3s;
}

.logo-text h2 {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 0 0 0 0;
}

.logo-text span {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  height: 21px;
}

.contacts p {
  margin-top: 0;
  margin-bottom: 12px;
  transition: 0.3s;
}

.contacts a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: end;
  transition: 0.3s;
}

.milan-main {
  margin-top: 8px;
}

.grid {
  display: grid;
  row-gap: 37px;
  column-gap: 61px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid p {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 18px;
  transition: 0.3s;
}

.grid img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 2px solid transparent;
  background: linear-gradient(to bottom, #fff 30%, #000 80%) border-box;
}

.item-image {
  position: relative;
  overflow: hidden;
}

.item-details {
  background-color: #f26522;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 16px;
  position: absolute;
  width: 100%;
  right: 0;
  transition: 0.3s;
  bottom: -100px;
}

.item-details p {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  line-height: 10px;
  margin: 0;
}

.item-details span {
  display: block;
  font-size: 20px;
  line-height: 20px;
  margin-top: 8px;
}

.item-details a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}

.item-details a:after {
  content: ">";
  margin-left: 16px;
}

.milan-footer {
  margin-top: 31px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
}

.logo:hover .rollhover {
  background: url(../images/logo\ 2.png);
  cursor: pointer;
}

.logo:hover .logo-text {
  color: #f26522;
  cursor: pointer;
}

.contacts p:hover {
  color: #f26522;
  cursor: pointer;
}

.contacts a:hover {
  color: #f26522;
  cursor: pointer;
}

.grid > div:hover .item-details {
  bottom: 0;
}

.grid > div:hover > p {
  color: #f26522;
  cursor: pointer;
}
